:root {
  --bg-color: #f4f4f4;
  --text-color: dimgrey;
  --font-size-s: 1.2rem;
  --font-size-lg: 1.8rem;
  --font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  color: dimgrey;
  background-color: var(--bg-color);
  font-family: monospace, Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  line-height: 1.6;
  overflow-x: hidden;
}

.content-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--font-size);
  padding-right: var(--font-size);
  max-width: 120rem;
}

.header{
  margin-bottom: var(--font-size-s);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid ;
  border-color:orange;
}

.header__logo{
  text-decoration: none;
  color: inherit;
}

.header__logo:hover, .header__logo:focus{
  transform: scale(1.1);
}

.header__slogan{
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: orange;
}

main > .content-container{
  display: flex;
  justify-content: space-between;
}

.input-container{
  width: 100%;
  min-width: 30rem;
  max-width: 55rem;
  height: 55rem;
}

.input-container__textarea{
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  background-color: var(--bg-color);
  border-radius: 5px;
  font-size: var(--font-size-lg);
  font-family: inherit;
}

.output-container{
  position: relative;
  width: 100%;
  min-width: 30rem;
  max-width: 55rem;
  height: 55rem;
  margin-left: 1rem;
}

.output{
  font-size: var(--font-size-lg);
  width: 50rem;
  height: 50rem;
  border: solid 1px;
  border-radius: 5px;
.output__copied-message{
  display: none;
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 10rem;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transform: translate(-50%, 0);
  transition: all 1s ease-in-out;
}

.output__copy-icon{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border: none;
  background: none;
}

.output__copy-icon:hover{
  transform: scale(1.1);
}

.footer{
  margin-top: var(--font-size-s);
}

.footer__content {
  display: flex;
  align-items: center;
  padding-top: var(--font-size-s);
  border-top: solid orange;
}

.footer__github-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.footer__github-icon:hover, .footer__github-icon:focus {
    transform: scale(1.1);
}